<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  

  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills">
            <li style = "float:left"><a href="/">SportStat</a></li>
            <li style = "float:right" role="presentation" ><a href="/register">Sign up</a></li>
            <li style = "float:right" role="presentation"><a href="/stream">Streaming</a></li>
            <li style = "float:right" role="presentation"><a href="/pay">Payment</a></li>
            <li style = "float:right" role="presentation"><a href="/teams">Teams</a></li>
            <li style = "float:right" role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}

      <footer class="container-fluid bg-4 text-center">
        <p>&copy; 2018 Karina Kozarova</p>
      </footer>
    </div> 
  </body>
</html>
