<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills">
            <li style = "float:left"><a href="/">SportStat</a></li>
            <li style = "float:right" role="presentation" ><a href="/login">Sign in</a></li>
            <li style = "float:right" role="presentation"><a href="/stream">Streaming</a></li>
            <li style = "float:right" role="presentation"><a href="/pay">Payment</a></li>
            <li style = "float:right" role="presentation"><a href="/calendar">Calendar</a></li>
            <li style = "float:right" role="presentation"><a href="/teams">Teams</a></li>
            <li style = "float:right" role="presentation"><a href="/competitors">Competitors</a></li>
            <li style = "float:right" role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
      <br>
      {% block body %}
      {% endblock %}
      <div class="footer navbar-fixed-bottom" style = "height: 6%;background-color: white">
        <footer class="container-fluid bg-4 text-center">
          <p>&copy; 2018 Karina Kozarova</p>
        </footer>
      </div>
    </div> 
  </body>
</html>
