{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block body %}
    <div class="container">     
      <br>
      <form action="" method="post">
        <label for="name">Username:</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}"> 
          <br>

        <label for="oldpassword">old Password:</label>
        <input type="password" class="form-control" placeholder="Password" name="oldpassword" value="{{
          request.form.password }}">
        <br>        

        <label for="password">New Password:</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <br>        
        <button type="submit" class="btn btn-success btn-block" value="Login">Login</button>

      </form>
      <br>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>


{% endblock %}