{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block body %}
    <div class="container">     
      <br>

      {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
      
          {% for message in messages %}    
              <div class="alert alert-warning">
                {{ message[1] }}
              </div>
          {% endfor %}
              {% endif %}
          {% endwith %}
      <form action="" method="post">
        <label for="name"> Username:</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}"> 
          <br>

        <label for="oldpassword"> Old Password:</label>
        <input type="password" class="form-control" placeholder="Password" name="oldpassword" value="{{
          request.form.password }}">
        <br>        

        <label for="password"> New Password:</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <br>        
        <button type="submit" class="btn btn-success btn-block" value="Login">Change password</button>

      </form>
      <br>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>


{% endblock %}