{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="container">
      <h1>Please login: <a href = "/register" style="font-size: x-large;float:right;"> Don't have an account? Click here to sign up. </a></h1>
      
      
      <br>
      <form action="" method="post">
        <label for="name">Username:</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}"> 
          <br>

        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <br>        
        <button type="submit" class="btn btn-success btn-block" value="Login">Login</button>

      </form>
<br>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>


{% endblock %}