{% extends "base.html" %}
{% block title %}Team Stats{% endblock %}
{% block body %}
<br>
<div class="jumbotron">
      <h2> <i class="glyphicon glyphicon-globe"></i>  Create Event </h2>
      <div class="container-fluid">
      {% if error %}

      <div class="alert alert-danger">
        <p class="error"  class="alert alert-danger"><strong>Error:</strong> {{ error }} </p>
      </div>
      {% endif %}

      {% if logged_in %}
      <br>
      <div class="alert alert-success">
        <p class="error"  class="alert alert-success">You have successfully created an event!</p>
      </div>
      {% else %}
          <form action="" method="post">
            <label for="name">Username:</label>
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{
              request.form.username }}"> 
              <br>

            <label for="password">Password: </label>

            <input type="password" class="form-control" placeholder="Password" name="password" value="{{
              request.form.password }}">
            <br>        

            <label for="eventname">Event Name: </label>
            <input type="text" class="form-control" placeholder="Enter the event name" name="name" value="{{
              request.form.name }}"> 
              <br>

            <label for="location">location: </label>
            <input type="location" class="form-control" placeholder="Enter the event location" name="location" value="{{
              request.form.location }}">
            <br>        

            <label for="eventdescription">Event Description: </label>
            <textarea class="form-control"  name="eventdescription" value="{{
              request.form.eventdescription }}" placeholder=" Enter the event description here..."> </textarea>
              <br>

            <button type="submit" class="btn btn-success btn-block" value="Login">Create Events</button>
          </form>

      {% endif %}
      
      </div>
</div>
{% endblock %}
