{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block body %}
<br>
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p class="lead">You have successfully signed in!</p>
  <h2> <br> What do you want to do: </h1>

  <a href ="/register_team">  
  	<button type="submit" class="btn btn-success btn-large" style="margin: 2%;padding: 1%">Register a Team </button> 
  </a>
  <a href = "/team_stats"> 
  	<button type="submit" class="btn btn-info btn-large" style="margin: 2%;padding: 1%">See your team stats </button>
  </a>
</div>


{% endblock %}
